body{
  background: #f4f5f7;
  margin: 0;
  padding: 0;
  font: 15px/1.5 Arial, Helvetica,sans-serif;
}

.container{
  width: 80%;
  margin: auto;
  overflow: hidden;
}

header{
  background: #35424a;
  padding-top: 10px;
  color:#ffffff;
  font-size: 15px;
  text-align: center;
  min-height: 70px;
  border-bottom:#e8491d 3px solid;
}
header #header{
  font-size: 20px;
}

header a{
  text-decoration: none;
  color: #a1c2f4;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
}
header a, .dropbtn {
    display: inline-block;
    color: white;
    padding: 0 20px 0 20px;
    text-decoration: none;
}
li a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

li.dropdown {
    display: inline-block;
    float: right;
    /* padding-bottom: 30px;*/
    font-size: 20px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
  background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
}

 #boxes{
  background: #caccce;
}

#boxes .box{
  float:left;
  text-align: center;
  width: 30%;
  padding: 10px;
}
#boxes .box img{
  margin-top: 20px;
  width: 230px;
}
section#boxes{
  border-bottom:#e8491d 3px solid;
}
/* Page numbers     */
.pagination a {
    color: black;
    float: left;
    padding: 8px 5px;
    text-decoration: none;
    transition: background-color .2s;
}
/* Centering the page number     */
.pagination{
  display: table;
  margin:0 auto;
}

.pagination a.active {
    background-color: #4CAF50;
    color: white;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
}



#newsletter{
  padding: 15px;
  color:#ffffff;
  background: #35424a;
  border-bottom:#e8491d 3px solid;
}

#newsletter h1{
  float: left;
}
#newsletter form{
  float:inherit;
  margin-top: 10px;
}
#newsletter input[type="email"]{
  padding: 4px;
  height: 25px;
  width: 250px;
}
#newsletter button{
  margin-top: 10px;
  display: block;
}

/* About us  */
section{
  border-bottom: #e8491d 3px solid;
}
article#main-col {
  float:left;
  width: 65%;
  text-align: justify;
  text-justify: inter-word; /* Increases/Decreases the space between words         */
}

/* Contact form        */
input[type=text], select{
  width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
section#contactform, input[type=email]{
  width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
section#contactform, button[type=submit]{
    width: 10%;
    height: 20px;
}
